.heading{
   justify-content: center;
   font-size: 40px;
   font-family: 'Ibarra Real Nova', serif;
   font-weight: 800;
   margin:5%
}

.btn{
    border-radius: 0px;
}

.loginbtn{
    text-align: right;
}

.signupbtn{
    text-align: left;
}

.or{
    font-weight: bold;
    margin-top: auto;
}