.Card{
    margin-left: 38%;
    margin-right: 38%;
}

.cardTitle{
    text-align: center;
    margin-top: 15px;
    margin-bottom: 2px;
    font-weight: 500;
}

.Alert{
    margin: auto;
    padding: 5px;
  
}